<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <div class="container">
        <div class="navbar-header">
          <div class="circle"></div>
          <h1><span class="about">About</span> AE Motors</h1>
          <h2><span class="ae">AE</span> Motors</h2>
             <ul>
             <li><a href="/">Home</a></li>
             <li><a href="/about">About</a></li>
             <li><a href="/service">Services</a></li>
             <li><a href="/contact">Contact</a></li>
             </ul>
         </div>
         
         <div class="aboutpage">
            
               <p><span class="ae">AE</span> Motors is a premier automobile dealership specializing in high performance
            vehicles. <span class="our">OUR</span>  mission is to provide expectional customer service, quality vehicles, and unparalleled expertise in 
        the automotive industry.</p>
         </div>
         <button>View More</button>

         <div class="circle1"></div>

         <div class="image"></div>

         <div class="bg"></div>
        


    </div>
</body>
</html>