<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <div class="navbar-header">
           <div class="circle"></div>
           <h1><span class="ae">AE</span> Motors</h1>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
         
        <div class="homepage">
            
            <h1>Welcome To AE Motors</h1>
            <h2>"Premier Automative Destination"</h2>
           <p>"with a passion for innovation and a commiment to excellence, we strive to provide an expectional car-buying
            experience. Our team of experts is dedicated to helping you find the perfect vehicle to suit your needs and style."
           </p>

           <div class="car1"></div>

           <div class="line"></div>
         </div>


         <div class="line1"></div>
         <div class="box"></div>
    </div>
</body>
</html>