<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicepage</title>
    <link rel="stylesheet" href="css/service.css">
</head>
<body>
    <div class="container">
        <div class="navbar-header">
            <div class="circle"></div>
            <h1><span class="ae">AE</span> Motors</h1>
             <ul>
             <li><a href="/">Home</a></li>
             <li><a href="/about">About</a></li>
             <li><a href="/service">Services</a></li>
             <li><a href="/contact">Contact</a></li>
             </ul>
         </div>

         
         <div class="servicepage">
             <h1>WHAT WE DO</h1>
             <h2>Tire Balancing <div class="circle1"></div></h2>
             <p>Ensures even weight distribution on vehicle wheels for smooth driving and even tire wear</p>
              
              <h3>Music Installation <div class="circle2"></div></h3> 
              <div class="p">Installed in various locations, such as doors, dasboard, or rear deck</div>

              <h4>Car Coloring <div class="circle3"></div></h4>
              <div class="p1">Adhesive vinyl sheets applied to the vehicle surface</div>

              <h5>Car Repairing <div class="circle4"></div></h5>
              <div class="p2">Adhesive vinyl sheets applied to the vehicle surface</div>

              <h6>Vehicle Servicing <div class="circle5"></div></h6>
              <div class="p3">Regular checks and service, such as oil changes, tire rotations, and brake inspection</div>
            
            
              <div class="h1">Car Finance  <div class="circle6"></div></div>
              <div class="p4">Regular checks and service, such as oil changes, tire rotations, and brake inspection</div>
            </div>
           
        



    </div>
</body>
</html>