*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 700px;
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar-header{ 
    min-width: 100%;
     height: 40px;
     display: flex;
     padding: 1em;
     background:black;
     position: fixed;
     z-index: 3;    
     box-shadow: 0.5px 0.5px 0.5px silver;
}

.ae{
    color: red;
}

h1{
    color: silver;
    font-size: 18px;
    margin: 25px;
    font-weight: bold;
    position: relative;
    top: -15px;
    left: 500px;  
    text-align: center;
}

.navbar-header .circle{
    width: 80px;
    height: 80px;
    background-image: url(../image/carlogo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: -20px;
    left: 30px;
}


.navbar-header ul{
    display: flex;
     justify-content: flex-end;
     list-style: none;
     position: relative;    
 }
 .navbar-header ul a{
    text-decoration:none ;
    color: silver;
    font-size: 18px;
    margin: 25px;
    font-family: 'DM Sans'sans-serif;
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 630px;
    transition: 0.3s ease-in;
    animation: slide-in 1.5s ease-out;
}
@keyframes slide-in{
   from{
       transform: translateX(-100vw);
       opacity: 0;
   }
   to{
       transform: translateX(0);
       opacity: 1;
   }
}
 .navbar-header ul a:hover{
    border-bottom: 2px solid red;
}











.contactpage{
    background:black;
    background-position: fixed;
    min-width: 100%;
    height: 700px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactpage h1{
    position: relative;
    top: -200px;
    color:silver;
    font-family: 'Thin Text', sans-serif;
    font-size: 40px; 
    left: 300px; 
    animation: slide-in 1.5s ease-out;
 }
 @keyframes slide-in{
    from{
        transform: translateX(-100vw);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
 }

 .contactpage  .input-box input{
    width: 300px;
    height: 30px;
    margin: 5px;
    color: #fff;
    position: relative;
    top: 50px;
    left: -300px;   
    border: none;
    background: transparent;
    
    border-radius: 10px;
    box-shadow: -2px -2px 2px silver, 2px 2px 2px red;;      
}
.contactpage  .input-text textarea{
    position: relative;
    top: 80px;
    left: -300px;  
    width: 350px;
    color: #fff;
    background: transparent;
    border-radius: 10px;
    border: none;
    box-shadow: -2px -2px 2px silver, 2px 2px 2px red;;
}
.contactpage .submit{
 width: 200px;
 height: 40px;
 background: transparent; 
 color: blue;
 letter-spacing: 2px;
 box-shadow: -2px -2px 2px silver, 2px 2px 2px red;;
 border-radius: 10px; 
 position: relative;
 top: -30px;
 left: 120px;
 cursor: pointer;
 font-weight: bold;
 animation: move-down 1s forwards;
}





.loader{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle1{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid;
    left: -180px;
    top: -50px;
    box-shadow: -5px -5px 5px silver, 5px 5px 5px red;
    animation: animate 10s linear infinite;
    background-image: url(../image/carlogo.png);
    background-position: center;
    background-repeat: no-repeat;
}

.circle1::before{
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url(../image/carlogo.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 0 20px silver, 0 0 60px silver;
}
@keyframes animate{
    to{
        transform: rotate(0);
    }
    from{
        transform: rotate(-360deg);
    }
}